.blogs-news {
  position:relative;
  border-radius: 16px;
}

.blogs-news__img {
  border-radius: 16px;
}

.blogs-news__content {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 300px;
}

.blogs-news__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.blogs-news__new {
  margin-top: 0;
}
