
.blogs-news {
  padding: 32px 235px 32px 32px;
  border-radius: 16px;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  background-image: url("../images/background/news-blog.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../images/background/news-blog@2x.png");
  }
}

.blogs-news__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0 0 13px 0;
}

.blogs-news__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.blogs-news__title-new {
  margin: 0 0 32px 0;
  font-size: 24px;
  line-height: 30px;
  color: $basic-extra-dark;
}
