.button {
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  font-weight: 700;
  color: $basic-extra-dark;
  background-color: $basic-extra-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  height: min-content;
  padding: 12px 32px;
  background-clip: padding-box;
  outline: 4px solid rgba($basic-extra-light, 0.4);
  border-radius: 26px;
  box-shadow: 0px 4px 12px 0px rgba($basic-extra-dark, 0.10);
  cursor: pointer;
  border: none;

  &:hover {
    background-color: rgba($basic-extra-light, 0.4);
    outline-color: $basic-extra-light;
  }

  &:focus {
    background-color: rgba($basic-extra-light, 0.5);
    outline: 2px solid $basic-extra-dark;
  }

  &:active {
    background-color: $basic-extra-light;
  }

  &:disabled {
    font-weight: 400;
    color: $basic-neutral;
    background-color: $basic-light;
    outline: 4px solid rgba($basic-extra-light, 0.4);
    pointer-events: none;
  }
}

.button--color {
  background-color: $special-extra-bright;
  color: $basic-extra-light;
  outline-color: rgba($special-extra-bright, 0.3);

  &:hover {
    background-color: rgba($basic-extra-light, 0.3);
    outline-color: $special-extra-bright;
    color: $basic-extra-dark;
  }

  &:focus {
    background-color: $special-extra-bright;
    outline: 2px solid $basic-extra-dark;
    color: $basic-extra-light;
  }

  &:active {
    background-color: $special-light;
  }

  &:disabled {
    font-weight: 400;
    color: $basic-dark;
    background-color: $basic-neutral;
    outline: 4px solid rgba($basic-neutral, 0.3);
    pointer-events: none;
  }
}

.button--spinner {
  pointer-events: none;
  outline: 4px solid rgba($basic-extra-light, 0.4);
}

.button--spinner-light {
  pointer-events: none;
  outline: 4px solid rgba($special-extra-bright, 0.3);
}

.button--spinner::after,
.button--spinner-light::after {
  content: "";
  width: 17px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
  display: block;
}

.button--spinner::after {
  background-image: url("../images/pictures/spinner.svg");
}

.button--spinner-light::after {
  background-image: url("../images/pictures/spinner-light.svg");
}

.button--cross {
  width: 16px;
  height: 16px;
  background-image: url("../images/pictures/cross.svg");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.5;
  }
}
