.button {
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  color: $basic-extra-dark;
  background-color: $basic-extra-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  height: min-content;
  padding: 12px 32px;
  border-radius: 26px;
}

.button--color {
  background-color: $special-extra-bright;
  color: $basic-extra-light;
}
