.cart__popover {
  width: 288px;
  padding-left: 24px;
  padding-right: 24px;
  box-shadow: 0 15px 40px 0 rgba($basic-extra-dark, 0.12);
}

.cart__filled {
  display: none;
}

.cart__popover--filled {
  padding-left: 48px;
  padding-right: 48px;
  width: 441px;

  .cart__filled {
    display: flex;
  }

  .cart__empty {
    display: none;
  }
}

.cart__empty {
  text-align: center;
}

.cart__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin: 0;
  padding: 0 0 32px;
  border-bottom: 1px solid $basic-light;
  font-size: 18px;
}

.cart__item {
  width: 100%;
  display: grid;
  grid-template-columns: 46px 148px 86px 16px;
  gap: 16px;
  align-items: center;
}

.cart__item-photo {
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.cart__item-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.cart__item-title {
  font-size: inherit;
  margin: 0;
}

.cart__item-calculation {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: $basic-neutral;
}

.cart__total {
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 700;
}
