.control{
  position: relative;
}

.control--checkbox {
  padding-top: 10px;
  padding-bottom: 10px;
}

.control__label {
  display: block;
  padding-left: 25px;
  cursor: pointer;
}

.control__input {
  margin: 2px 0;
  appearance: none;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
  }

  &:disabled::before {
    cursor: not-allowed;
  }
}

.control__input--radio {
  &::before {
    background-image: url("../images/pictures/radio.svg");
  }
  &:checked::before {
  background-image: url("../images/pictures/radio-checked.svg");
  }
  &:disabled::before {
    opacity: 0.4;
  }
}

.control__input--checkbox {
  &::before {
  background-image: url("../images/pictures/checkbox.svg");
  }

  &:checked::before {
  background-image: url("../images/pictures/checkbox-checked.svg");
  }

  &:disabled::before {
    opacity: 0.5;
  }
}
