.copyright__link {
  display: block;
}

.copyright__note {
  font-size: 12px;
  line-height: 16px;
}

.copyright__link-text {
  color: inherit;
  text-decoration: underline solid 1px rgba($basic-extra-dark, 0.5);
}
