.delivery {
  border-radius: 16px;
  padding: 64px 64px 64px 100px;
  display: grid;
  grid-template-columns: auto 500px;
  column-gap: 135px;
  align-items: center;
  background-image: url("../images/background/delivery.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../images/background/delivery@2x.jpg");
  }
  background-repeat: no-repeat;
  background-color: $additional-extra-light;
}

.delivery__title {
  text-align: left;
  margin: 0 0 24px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: $basic-extra-dark;
  max-width: 530px;
}

.delivery__text {
  margin: 0;
}

.delivery__form-wrapper {
  border-radius: 8px;
  background-color: $basic-extra-light;
  padding: 40px 40px 42px;
  box-shadow: 0px 15px 40px 0px rgba($basic-extra-dark, 0.12);
}

.delivery__form-title {
  margin: 0 0 32px;
}

.delivery__form {
  border-radius: 8px;
  display: grid;
  grid-template-columns: 117px auto;
  gap: 20px 16px;
}

.delivery__form-address {
  grid-column: 1/-1;
}

.delivery__form-button {
  grid-column: 1/-1;
  justify-self: center;
  margin-top: 12px;
}
