.form__field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin: 0;
}

.form__field-group--tooltip {
  column-gap: 4px;
}

.form__label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: $basic-extra-dark;
}

.form__input {
  cursor: pointer;
  font-family: inherit;
  background-color: $white;
  border-radius: 4px;
  padding: 15px 16px;
  width: 100%;
  border: 1px solid $basic-neutral;

  &:hover,
  &:focus {
    border-color: $basic-extra-dark;
  }

  &:focus {
    outline: 1px solid $basic-extra-dark;
  }

  &:disabled,
  &:disabled:hover {
    background-color: $basic-light;
    border-color: $basic-neutral;
  }

  &:disabled:hover {
    color: rgba($basic-extra-dark, 0.65);
  }

  &::placeholder {
    color: $basic-neutral;
    font-size: 16px;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: $status-error;

    &:hover,
    &:focus {
      outline-color: $status-error;
    }
  }
}

.form__input--invalid {
  border-color: $status-error;

  &:hover,
  &:focus {
    outline-color: $status-error;
  }
}

.form__textarea {
  width: 100%;
  min-height: 149px;
  resize: vertical;
}
