.form__field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin: 0;
}

.form__field-group--tooltip {
  column-gap: 4px;
}

.form__label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: $basic-extra-dark;
}

.form__input {
  font-family: inherit;
  background-color: $white;
  border-radius: 4px;
  padding: 15px 16px;
  width: 100%;
  border: 1px solid $basic-neutral;

  &::placeholder
    {
      color: $basic-neutral;
      font-size: 16px;
    }
}

.form__textarea {
  width: 100%;
  min-height: 149px;
  resize: vertical;
}
