.gifts__item {
  background-color: $special-neutral;
  padding-left: 36px;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 219px;
  grid-template-areas:
    "gifts-caption gifts-img"
    "gifts-text gifts-img"
    "gifts-button gifts-img";
}

.gifts__caption {
  color: $basic-extra-dark;
  grid-area: gifts-caption;
  margin: 36px 0 28px;
}

.gifts__text {
  color: $basic-extra-dark;
  grid-area: gifts-text;
  margin: 0 0 28px;
}

.gifts__button {
  grid-area: gifts-button;
  margin-bottom: 36px;
  align-self: end;
}

.gifts__img {
  grid-area: gifts-img;
  max-width: 100%;
  align-self: end;
}
