.gifts__title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: $basic-extra-dark;
  text-align: center;
  max-width: 530px;
  margin: 0 auto 56px;
}

.gifts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 570px 570px;
  gap: 30px;
}

.gifts__item {
  background-color: $special-neutral;
  padding: 36px 220px 36px 36px;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  flex-direction: column;
}

.gifts__item--raspberry {
  background-image: url("../images/background/gifts-raspberry.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../images/background/gifts-raspberry@2x.png");
  }
}

.gifts__item--marshmallow {
  background-image: url("../images/background/gifts-marshmallow.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../images/background/gifts-marshmallow@2x.png");
  }
}

.gifts__caption {
  color: $basic-extra-dark;
  margin: 0 0 28px;
  font-size: 24px;
  line-height: 30px;
}

.gifts__text {
  color: $basic-extra-dark;
  margin: 0 0 28px;
}

.gifts__button {
  margin-top: auto;
}
