.hero-slider {
  padding-top: 22px;
  padding-left: 70px;
  display: grid;
  grid-template-columns: 430px auto;
  column-gap: 25px;
}

.hero-slider__content {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.hero-slider__content--current {
  display: flex;
}

.hero-slider__caption {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin: 0 0 24px;
  color: $basic-extra-dark;
}

.hero-slider__text {
  font-size: 18px;
  line-height: 24px;
  color: $basic-extra-dark;
  margin: 0 0 48px;
}

.hero-slider__images {
  position: relative;
  display: grid;
  grid-template-columns: 367px auto auto;
  align-items: center;
}

.hero-slider__img {
  position: relative;
  transform: scale(0.33);
  opacity: 0.4;
  display: flex;
  width: 100px;
}

.hero-slider__img--active {
  transform: scale(1);
  opacity: 1;
  width: 327px;
  margin: auto;
}

.hero-slider__img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 327px;
  height: 312px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: $special-extra-light;
  z-index: -1;
}

.page-body--theme-2 .hero-slider__img::after {
  background-color: $special-theme-2-light;
}

.page-body--theme-3 .hero-slider__img::after {
  background-color: $special-theme-3-light;
}

.hero-slider__toggle {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($basic-extra-light, 0.3);
  border: 2px solid $basic-extra-light;
  color: $basic-extra-light;
  background-clip: padding-box;
  cursor: pointer;

  &:hover {
    background-color: $basic-extra-light;
    color: $basic-extra-dark;
  }

  &:focus {
    color: $basic-extra-dark;
    border-color: $basic-extra-dark;
    background-color: rgba($basic-extra-light, 0.3);
    outline: transparent;
  }

  &:active {
    border-color: rgba($basic-extra-light, 0.5);
    background-color: rgba($basic-extra-light, 0.5);
    outline: transparent;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.hero-slider__toggle--prev {
  left: 0;
}

.hero-slider__toggle--next {
  left: 327px;
}
