.hero__footer {
  display: flex;
  justify-content: space-between;
}

.hero__pagination {
  gap: 8px;
  align-items: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hero__pagination-button {
  width: 11px;
  height: 11px;
  border-radius: 100px;
  outline: 1px solid rgba($basic-extra-light, 0.3);
  background-color: rgba($basic-extra-light, 0.3);
  cursor: pointer;
  background-clip: padding-box;
  border: none;

  &:hover {
    outline-color: $basic-extra-light;
  }

  &:focus {
    outline-color: $basic-extra-dark;
  }

  &:active {
    background-color: rgba($basic-extra-light, 0.5);
    outline-color: rgba($basic-extra-light, 0.5);
  }
}

.hero__pagination-button--current {
  background-color: $basic-extra-light;
  outline-color: $basic-extra-light;
  pointer-events: none;
}
