.hero__footer {
  display: flex;
  justify-content: space-between;
}

.hero__pagination {
  gap: 8px;
  align-items: center;
}

.hero__pagination-button {
  width: 11px;
  height: 11px;
  border-radius: 100px;
  border: 1px solid rgba($basic-extra-light, 0.3);
  background-color: rgba($basic-extra-light, 0.3);
  cursor: pointer;
  background-clip: padding-box;

  &:hover {
    border-color: $basic-extra-light;
  }

  &:focus {
    border-color: $basic-extra-dark;
    outline: transparent;
  }

  &:active {
    background-color: rgba($basic-extra-light, 0.5);
    border-color: rgba($basic-extra-light, 0.5);
  }
}

.hero__pagination-button--current {
  background-color: $basic-extra-light;
  border-color: $basic-extra-light;
  pointer-events: none;
}
