.main-nav {
  flex-grow: 1;
  display: flex;
  gap: 16px;
  align-items: center;
}

.main-nav__list {
  gap: 16px;
}

.main-nav a {
  line-height: 20px;
  color: $basic-extra-dark;
}

.main-nav__phone {
  margin-left: auto;
  min-width: 150px;
  font-weight: 700;
}
