.main-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 160px auto;
  align-items: center;
  color: $basic-extra-dark;
  gap: 8px;
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  position: relative;
  padding: 12px 0;

  &:hover .popover,
  &:focus-within .popover {
    display: block;
  }
}

.main-nav__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 8px 16px;

  &:hover,
  &:focus,
  &:active {
    border-radius: 30px;
  }

  &:hover,
  &:focus {
    background-color: rgba($basic-extra-light, 0.5);
  }

  &:focus {
    outline: solid 2px $basic-extra-dark;
  }

  &:active {
    background-color: $basic-extra-light;
    outline: transparent;
  }
}

.main-nav__link--phone {
  font-weight: 700;
  padding: 6px;
}

.main-nav__link--user {
  font-size: 14px;
  padding: 6px 16px;
  background-color: rgba($basic-extra-light, 0.3);
  border-radius: 30px;

  &:focus {
    outline: solid 2px $black;
  }

  &:active {
    outline: transparent;
  }
}

.main-nav__link--user-no-text {
  padding: 9px;
  border-radius: 50%;
}

.main-nav__link--current {
  border-radius: 30px;
  background-color: $special-bright;
  color: $basic-extra-light;

  .main-nav__link-icon {
    transform: rotate(180deg);
  }

  &:hover {
    background-color: rgba($special-bright, 0.6);
  }

  &:focus {
    background-color: $special-bright;
    outline: solid 2px $black;
  }

  &:active {
    background-color: rgba($special-bright, 0.3);
    outline: transparent;
  }
}
