.main-nav {
  flex-grow: 1;
  display: flex;
  gap: 16px;
  align-items: center;
  color: $basic-extra-dark;
}

.main-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  line-height: 20px;
  color: inherit;
}

.main-nav__link {
  padding: 8px 16px;
}

.main-nav__phone {
  margin-left: auto;
  min-width: 148px;
  font-weight: 700;
  padding: 6px 0;
}
