.page-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: $basic-dark;
  background-color: $special-light;
  width: $desktop-width;
  min-height: 100%;
  margin: 0 auto;
}

.page-body--theme-2 {
  background-color: $special-theme-2;
}

.page-body--theme-3 {
  background-color: $special-theme-3;
}
