.popover {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  width: 441px;
  min-height: 156px;
  display: none;
}

.popover--open {
  display: block;
}

.popover--close {
  display: none;
}

.popover__content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  justify-content: space-between;
}

.popover__title {
  width: 100%;
  margin: 0;
}
