.product {
  text-align: center;
  background-color: $basic-extra-light;
  width: 270px;
  min-height: 281px;
  margin-top: 52px;
  padding: 133px 40px 24px;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.product__image {
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  box-shadow: rgba($basic-extra-dark, 0.1) 0 4px 12px;
  position: absolute;
  top: -51px;
  right: 51px;
}

.product__caption {
  margin: 0;
}

.product__text {
  margin: 0;
}

.product__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__button {
  padding: 6px;
  min-width: 32px;
  min-height: 32px;
  border: 2px solid $special-extra-bright;
  outline: transparent;
  box-shadow: none;

    &:focus {
    background-color: $special-extra-bright;
    border-color: $basic-extra-dark;
    outline: transparent;
  }

  &:active {
    background-color: $special-extra-light;
    color: $basic-extra-dark;
    outline: transparent;
  }

  &:disabled {
    color: $basic-dark;
    background-color: $basic-neutral;
    outline: transparent;
    border-color: $basic-neutral;
    pointer-events: none;
  }
}
