.range {
  min-width: 196px;
}

.range__legend {
  margin-bottom: 8px;
}

.range__label {
  word-spacing: -0.1em;
}

.range__input {
  width: 30px;
  background-color: transparent;
  border: none;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.range__toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 17px;
  min-height: 36px;
}

.range__scale {
  position: relative;
  height: 2px;
  width: 100%;
  background-color: rgba($basic-dark, 0.3);
  border-radius: 2px;
}

.range__bar {
  position: absolute;
  height: 2px;
  background-color: $basic-dark;
}

.range__toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $basic-extra-dark;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    background-color: $basic-extra-light;
    border: none;
    border-radius: 50%;
  }

  &:hover {
    background-color: $basic-extra-light;
  }

  &:hover::after {
    background-color: $basic-extra-dark;
  }

  &:focus {
    background-color: $basic-extra-light;
    outline: 2px solid $basic-extra-dark;
  }

  &:focus::after {
    background-color: $basic-extra-dark;
  }

  &:active {
    background-color: $basic-extra-dark;
    outline: transparent;
  }
}

.range__toggle--min {
  top: -8px;
  left: -16px;
}

.range__toggle--max {
  top: -8px;
  right: -14px;
}
