.site-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  row-gap: 8px;
}

.site-nav__item {
  padding-left: 24px;
}

.site-nav__item--decor {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 2px;
    width: 16px;
    height: 16px;
    background-image: url("../images/pictures/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.site-nav__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}
