.slide {
  background-repeat: no-repeat;
  background-position: center, right;
}

.slide--1 {
  background-image: url("../../images/slider/background-banana.png"), url("../../images/slider/background-caramel.png");
}

.slide--2 {
  background-image: url("../../images/slider/background-caramel.png"), url("../../images/slider/background-strawberry.png");
}

.slide--3 {
  background-image: url("../../images/slider/background-strawberry.png"), url("../../images/slider/background-banana.png");
}
