.social__list {
  gap: 16px;
  min-width: 104px;
}

.social__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: inherit;
  outline: 2px solid rgba($basic-extra-light, 0.3);
  border-radius: 24px;
  background-repeat: no-repeat;
  padding: 0;

  &:hover {
    outline-color: rgba($basic-extra-light, 0.5);
  }

  &:focus {
    outline-color: $basic-extra-dark;
  }

  &:active {
    outline-color: $basic-extra-light;
  }
}

.social__button--telegram {
  background-image: url("../images/pictures/telegram.svg");
}

.social__button--vk {
  background-image: url("../images/pictures/vk.svg");
}

.social__button--youtube {
  background-image: url("../images/pictures/youtube.svg");
}

.social__item {
  &:hover,
  &:focus-within {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: $basic-extra-dark;
  }

  &:active {
    opacity: 0.5;
  }
}
