.subcatalog__popover {
  width: 138px;
  padding: 8px 0;
}

.subcatalog__item {
  width: 100%;
  padding: 0 16px;

  &:hover,
  &:focus {
    background-color: $special-extra-light;
  }

  &:active {
    background-color: $special-neutral;
  }
}

.subcatalog__item--current {
  color: $basic-extra-light;
  background-color: $special-bright;
  pointer-events: none;
}

.subcatalog__link {
  padding: 6px 0;
}

.subcatalog__link--hero {
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid $basic-neutral;
  margin-bottom: 4px;
}
