.subcatalog__popover {
  width: 138px;
  padding: 8px 0;
  box-shadow: 0px 8px 16px 0px rgba($basic-extra-dark, 0.12);
}

.subcatalog__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.subcatalog__item {
  width: 100%;
  padding: 0 16px;

  &:hover,
  &:focus {
    background-color: $special-extra-light;
  }

  &:active {
    background-color: $special-neutral;
  }
}

.subcatalog__item--current {
  color: $basic-extra-light;
  background-color: $special-bright;
  pointer-events: none;
}

.subcatalog__link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.subcatalog__link--hero {
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid $basic-neutral;
  margin-bottom: 4px;
}
