.subscribe {
  background: repeating-linear-gradient(
    -45deg,
    $additional-light, $additional-light 18px,
    $special-theme-2 18px, $special-theme-2 28px,
    $additional-light 28px, $additional-light 46px,
    $special-extra-bright 46px, $special-extra-bright 56px
    );
    padding: 6px;
    border-radius: 16px;
    margin-bottom: auto;
    min-height: 224px;
}

.subscribe__container {
  padding: 26px;
}

.subscribe__text {
  margin: 0 0 42px 0;
}

.subscribe__form {
  background-color: inherit;
  display: flex;
  gap: 14px;
}

.subscribe__label,
.subscribe__input {
  width: 100%;
}
