.subscribe {
  background: repeating-linear-gradient(
    -50deg,
    $additional-light, $additional-light 6px,
    $special-theme-2 7px, $special-theme-2 14px,
    $additional-light 15px, $additional-light 29px,
    $special-extra-bright 30px, $special-extra-bright 37px,
    $additional-light 38px, $additional-light 45px
    );
    padding: 6px;
    border-radius: 16px;
    margin-bottom: auto;
    min-height: 224px;
}

.subscribe__container {
  padding: 26px;
}

.subscribe__text {
  margin: 0 0 42px 0;
}

.subscribe__form {
  background-color: inherit;
  display: flex;
  gap: 14px;
  align-items: center;
}

.subscribe__label,
.subscribe__input {
  width: 100%;
}


.subscribe__button {
  margin: 4px;
}
