.tooltip {
  position: relative;
}

.tooltip__toggle {
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
  background-image: url("../images/pictures/info.svg");
  display: flex;
  align-content: center;
  cursor: pointer;

  &:hover + .tooltip__text,
  &:focus + .tooltip__text {
    display: block;
  }
}

.tooltip__text {
  display: none;
  position: absolute;
  top: -12px;
  left: 24px;
  z-index: 1;
  background-color: $white;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding: 9px;
  width: max-content;
  border-radius: 2px;
  border: 1px solid $basic-neutral;
  box-shadow: 0 2px 12px rgba($shadow-middle, 0.18);

  &::before {
    content:'';
    position:absolute;
    width: 10px;
    height: 10px;
    left: -11px;
    top: 18px;
    transform: translate(50%,-50%) rotate(-45deg);
    background-color: $white;
    border-top: 1px solid $basic-neutral;
    border-left: 1px solid $basic-neutral;
  }
}
