.user-nav {
  min-width: 266px;
  gap: 16px;
}

.user-nav__item {
  min-width: 32px;
  min-height: 32px;
}

.user-nav__link {
  padding: 6px 16px;
  background-color: rgba($basic-extra-light, 0.3);
  border-radius: 30px;
}

.user-nav__link--no-text {
  padding: 9px;
  border-radius: 50%;
}
