@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}
