$desktop-width: 1366px;

$basic-extra-dark: #2d3440;
$basic-dark: #565c66;
$basic-neutral: #b9b9b9;
$basic-light: #e7e7e7;
$basic-extra-light: #fcfcfc;
$white: #ffffff;
$special-extra-bright: #ff2f64;
$special-neutral: #ff7799;
$special-extra-light: #ffcbd8;
$special-theme-1: #feafc3;
$special-theme-2: #69a9ff;
$special-theme-3: #fcc850;
$additional-light: #EDF1F5;

