$desktop-width: 1366px;

$black: #000000;
$basic-extra-dark: #2d3440;
$basic-dark: #565c66;
$basic-neutral: #b9b9b9;
$basic-light: #e7e7e7;
$basic-extra-light: #fcfcfc;
$white: #ffffff;
$special-extra-bright: #ff2f64;
$special-bright: #ff4a78;
$special-neutral: #ff7799;
$special-light: #feafc3;
$special-extra-light: #ffcbd8;
$special-theme-2: #69a9ff;
$special-theme-2-light: #9fc8ff;
$special-theme-3: #fcc850;
$special-theme-3-light: #fcdc92;
$additional-extra-light: #f3f3f3;
$additional-light: #edf1f5;
$additional-special-extra-light: #fdd5df;
$additional-special-light: #e8c6cb;
$shadow-middle: #ad978f;
$status-error: #ea5454;
