/* GLOBAL */
@import "global/variables";
@import "global/global";
@import "global/fonts";

/* BLOCKS */
@import "blocks/page";
@import "blocks/page-body";
@import "blocks/page-wrapper";
@import "blocks/container-grid-30";
@import "blocks/wrapper-extra-light-br-4";
@import "blocks/wrapper-extra-light-br-8";
@import "blocks/wrapper-ultra-light-br-16";
@import "blocks/link";
@import "blocks/button";
@import "blocks/title-h2";
@import "blocks/title-h3";
@import "blocks/title-h4";
@import "blocks/note";
@import "blocks/list";
@import "blocks/list-flex";
@import "blocks/display-block";
@import "blocks/form";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/user-nav";
@import "blocks/page-main";
@import "blocks/hero";
@import "blocks/hero-slider";
@import "blocks/social";
@import "blocks/gifts";
@import "blocks/products";
@import "blocks/product";
@import "blocks/advantages";
@import "blocks/blogs-news";
@import "blocks/subscribe";
@import "blocks/delivery";
@import "blocks/tooltip";
@import "blocks/contacts";
@import "blocks/page-footer";
@import "blocks/site-nav";
@import "blocks/copyright";
@import "blocks/catalog";
@import "blocks/breadcrumbs";
@import "blocks/catalog-form";
@import "blocks/range";
@import "blocks/control";
@import "blocks/catalog-pagination";
@import "blocks/hide-show";
@import "blocks/shadow-small";
@import "blocks/shadow-medium";
@import "blocks/shadow-big";
@import "blocks/popover";
@import "blocks/subcatalog";
@import "blocks/search";
@import "blocks/authorization";
@import "blocks/cart";
@import "blocks/modal";
@import "blocks/feedback";
