@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-extra-dark: #2d3440;
  --basic-dark: #565C66;
  --basic-neutral: #b9b9b9;
  --basic-extra-light: #fcfcfc;

  --white: #ffffff;

  --special-extra-bright: #ff2f64;
  --special-neutral: #ff7799;
  --special-light: #feafc3;

  --opacity-extra-dark-50: rgba(45, 52, 64, 0.5);
  --opacity-extra-light-30: rgba(252, 252, 252, 0.3);
}

.page-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
  background-color: var(--special-light);
}

.button {
  font-family: inherit;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--basic-extra-dark);
  background-color: var(--basic-extra-light);
}

.button--color {
  background-color: var(--special-extra-bright);
  color: var(--basic-extra-light);
}



.block--illustrated {
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.block__h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  color: var(--basic-extra-dark);
  text-align: center;
}

.block__h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.block__h4 {
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.block__note {
  font-size: 14px;
  line-height: 20px;
}

.block__link {
  text-decoration: none;
}

.main-nav a {
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.main-nav__phone {
  font-weight: 700;
}

.hero__caption {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  color: var(--basic-extra-dark);
}

.hero__text {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.slide {
  background-repeat: no-repeat;
  background-position: center, right;
}

.slide--1 {
  background-image: url("../images/slider/background-banana.png"), url("../images/slider/background-caramel.png");
}

.slide--2 {
  background-image: url("../images/slider/background-caramel.png"), url("../images/slider/background-strawberry.png");
}

.slide--3 {
  background-image: url("../images/slider/background-strawberry.png"), url("../images/slider/background-banana.png");
}

.gifts__item {
  background-color: var(--special-neutral);
}

.gifts__text {
  color: var(--basic-extra-dark);
}

.product {
  text-align: center;
  background-color: var(--basic-extra-light);
}

.advantages {
  background-image: url("../images/background/advantages.png");
  padding: 24px;
}

.advantages__container {
  background-color: var(--white);
}

.blogs-news__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.subscribe__container {
  background-color: var(--white);
}

.delivery {
  background-image: url("../images/background/delivery.jpg");
}

.delivery__title {
  text-align: left;
}

.form {
  background-color: var(--basic-extra-light);
}

.form__input {
  background-color: var(--white);
}

.form__label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.contacts {
  background-image: url("../images/background/contacts.jpg");
}

.contacts__container {
  background-color: var(--basic-extra-light);
  max-width: 343px;
  min-height: 364px;
}

.contacts__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.contacts__info {
  font-size: 20px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  font-weight: 700;
}

.contacts__info--address {
  font-style: normal;
}

.contacts__info--phone {
  text-decoration: none;
  display: block;
}

.page-footer {
  color: var(--basic-extra-dark);
}

.site-nav a {
  text-decoration: none;
  color: inherit;
}

.copyright__link {
  display: block;
  background-repeat: no-repeat;
}

.copyright__note {
  font-size: 12px;
  line-height: 16px;
}

.copyright__link-text {
  color: inherit;
  text-decoration: underline solid 1px var(--opacity-extra-dark-50);
}

.breadcrumbs__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-extra-dark);
}

.breadcrumbs__link--current {
  text-decoration: underline solid 1px;
}

.catalog-form {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.catalog-form__item {
  background-color: var(--opacity-extra-light-30);
  text-transform: lowercase;
}

.catalog-pagination__link {
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.catalog-pagination__item--current {
  background-color: var(--basic-extra-light);
}
